@import url(https://fonts.googleapis.com/css?family=PT+Sans);
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
body {
	background-image: url(../Images/img7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family:"pt sans";
	color:white;
}
a:link{
	color:white;
	text-decoration:none;
	outline:none;
}
a:visited{
	color:silver;
	text-decoration:none;
}
a:hover{
	color:#3377ff;
	text-decoration:underline;
}
a:active{
	text-decoration:none;

}
div#tablecontainer{
	display: table;
	border-spacing:20px;
	margin-right:auto;
	margin-left:auto;
}
div#tablerow{
	display:table-row;
}
#homepage{
	display:table-cell;
	padding:15px;
	padding-right:35px;
	background-image: url(../Images/proimg5.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	background-size: cover;
}
#news{
	display:table-cell;
	padding:15px;
	background-position:left center;
	background-image: url(../Images/proimg5.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}
#allcontent	{
	width:1000px;
	/*padding : 0px 20px 0px 20px;*/
	margin-left : auto;
	margin-right : auto;
}
#about{
	display:table-cell;
	padding:15px;
	background-position:left center;
	background-image: url(../Images/proimg5.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	padding-right:45px;
	padding-left:20px;
}	